<!doctype html>
<html lang="en">
  <head>
    <base href="/NarrowItDownApp" />
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="NarrowItDownApp/styles/bootstrap.min.css">
    <link rel="stylesheet" href="NarrowItDownApp/styles/styles.css">
    <script src="NarrowItDownApp/js/angular.min.js"></script>
    <script src="NarrowItDownApp/js/app.js"></script>
  </head>
<body ng-app="NarrowItDownApp">
   <div class="container" ng-controller="NarrowItDownController as narrowIt">
    <h1>Narrow Down Your Chinese Menu Choice</h1>

    <div class="form-group">
      <input type="text" placeholder="search term" class="form-control" ng-model="narrowIt.searchIt">
    </div>
    <div class="form-group narrow-button">
      <button class="btn btn-primary" ng-click="narrowIt.searchByDescription(narrowIt.searchIt);">Narrow It Down For Me!</button>
    </div>

    <!-- found-items should be implemented as a component -->
    <found-items items="narrowIt.menuItems" on-remove="narrowIt.removeItem(index)" ng-show="narrowIt.menuItems.length"></found-items>
    <span ng-show="narrowIt.notFound">Nothing found</span>
  </div>

</body>
</html>
